.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: transparent;
  color: black;
  gap:15px;
  padding:10px 0px;
}

.loanInfoGrid::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), /* sombra principal más fuerte */ 0 4px 6px rgba(0, 0, 0, 0.15); /* sombra secundaria suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #003a8f;
  padding: 5px 10px;
  height: 50px;

  h3 {
    color: white;
    font-weight: 600;
  }
  button {
    background-color: #ed8b00;
    border-radius: 5px;
    padding: 2px 10px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
  }
  button:hover {
    background-color: white;
    color: #ed8b00;
  }
}
.loanInfoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  grid-template-rows: repeat(auto, auto); /* 5 filas fijas de 120px */
  gap: 20px;
  padding: 20px 30px;
  overflow: scroll;
}
.infoItem {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 250px;
}

.infoItem input {
  background-color: #F9FAFB;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1.57px solid #e5e7eb;
  height: 35px;
}

.infoItem span {
  color: #1F2937;
}
