@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-green: #1d7934;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primaryGreen: var(--light-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;

}
body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navBarHeader{
  display: flex;
  background-color: #003A8F;
  padding: 10px 5px;
 ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;

    li{
      cursor: pointer;

      :hover{
        color: red;
      }
    }
  }
}

.clickeableBtn{

  color: #003A8F !important;
  
}

.clickeableBtn:hover {
  text-decoration: underline;
  color: #1E5DB5 !important;
}

.tableCell {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #1f2937;
}